﻿@model IEnumerable<CovidDataProject.Models.States_Daily>
@{ 
    int SerialNo = 1;
}
<div class="table-responsive">
    <table cellspacing="2" cellpadding="2" border="1" class="table" style="border:1px solid black; width:100%">
        <thead>
            <tr>
                <th class="text-nowrap">Serial No.</th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.an)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ap)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ar)
                </th>
                
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.br)
                </th>
                <th class="text-center" >
                    @Html.DisplayNameFor(model => model.ch)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ct)
                </th>
                
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.dd)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.dl)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.dn)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ga)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.gj)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.hp)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.hr)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.jh)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.jk)
                </th>
               
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.kl)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.la)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ld)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.mh)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ml)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.mn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mz)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nl)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.or)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.pb)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.py)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.rj)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.sk)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.tg)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.tn)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.tr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.un)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.up)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ut)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.wb)
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-center">@SerialNo</td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.an)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ap)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ar)
                </td>
               
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.br)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ch)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ct)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.dd)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.dl)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.dn)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ga)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.gj)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.hp)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.hr)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.jh)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.jk)
                </td>
                
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.kl)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.la)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ld)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.mh)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ml)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.mn)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.mp)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.mz)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.nl)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.or)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.pb)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.py)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.rj)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.sk)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.tg)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.tn)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.tr)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.tt)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.un)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.up)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ut)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.wb)
                </td>

            </tr>
                SerialNo++;
            }
        </tbody>
    </table>
</div>
