﻿
@{
    Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- jQuery -->
<!-- FusionCharts -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<!-- jQuery-FusionCharts -->
<script type="text/javascript" src="https://rawgit.com/fusioncharts/fusioncharts-jquery-plugin/develop/dist/fusioncharts.jqueryplugin.min.js"></script>
<!-- Fusion Theme -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div>

    <div>
        <h2 style="text-align:center;margin-top:25px">Tabular Representation</h2>
        <div>
            @{Html.RenderAction("GetCovidStateWiseDetails"); }
        </div>
    </div>
    <div style="margin-top:25px;height:500px"> <div id="chart-container"></div></div>
</div>

<div class="text-right"><b>Made By : Shivam Saluja</b></div>
<script type="text/javascript">
$(document).ready(function(){
    GetDonutChartDetails();

 });
    /*************************** For Donut Chart ***************************/
    function GetDonutChartDetails() {

        $.ajax({
            'url': '@Url.Action("GetDonutChartDetails", "CovidDetails")',
            'type': 'GET',
            'success': function (data) {

                BindDonutChart(data);

            }
        });


    }


    function BindDonutChart(arr) {

        var donutdata = [];
        for (var key in arr) {
            donutdata.push({
                label: key,
                value: arr[key]
            });
        }
        
        $("#chart-container").insertFusionCharts({
            type: "doughnut2d",
            width: "100%",
            height: "100%",
            dataFormat: "json",
            dataSource: {
                chart: {
                    caption: "Donut Representation",
                   // showpercentvalues: "1",
                    defaultcenterlabel: "Covid-19  Cases",
                    aligncaptionwithcanvas: "0",
                    captionpadding: "0",
                    decimals: "1",
                    plottooltext:
                        "<b>$percentValue</b> of our Android users are on <b>$label</b>",
                    centerlabel: " $value",
                    theme: "fusion"
                },
                data: donutdata
            }
        });

    }


</script>
